<div id="lifecycle-container" class="lc-container" data-nonce="{{ nonce }}">
    <div class="lc-status">{{ order_status|replace({'wc-': '', '-': ' '})|capitalize }}</div>
    <div class="lc-order-id">Order ID: {{ order_id }}</div>
</div>
